.bgColor{
background-color:rgba(0,112,210,0.97);
}

.imgHt{
height:60px;
}
.PT10
{
padding-top:10px;
}
.PL10
{
padding-left:10px;
}
.ML10
{
margin-left:10px !important;
}
.MR5
{
margin-right:5px;
}
.h3-color{
    color:#fff;
}
.wlcm-msg{
    color:rgba(0,112,210,0.97);
}
.txt-center{
    text-align: center;
}
.txt-bold{
    font-weight: bold;
    font-size: 14px;
}
.color-dark{
    color:#000000;
    font-size:14px;
}