.bgColor {
    background-color: rgba(0,112,210,0.97);
}

.imgHt {
    height: 60px;
}

.PT10 {
    padding-top: 10px;
}
.PT2 {
    padding-top: 2px;
}
.PT50 {
    padding-top: 50px;
}
.PR5 {
    padding-right: 5px;
}
.PB10 {
    padding-bottom: 10px;
}
.PB20 {
    padding-bottom: 20px;
}
.PB2 {
    padding-bottom: 2px;
}

.PL10 {
    padding-left: 10px;
}
.PL50 {
    padding-left: 50px;
}

.ML10 {
    margin-left: 10px !important;
}

.MB30 {
    margin-bottom:30px;
}
.MT40 {
    margin-top:40px;
}
.MT5 {
    margin-top: 5px;
}
.MR5 {
    margin-right: 5px;
}

.h3-color {
    color: #fff !important;
}

.wlcm-msg {
    color: rgba(0,112,210,0.97);
}

.TxtClrFFF{
    color:#fff;
}
.h1-font{
    font-size:30px !important;
}
.h4-font{
    font-size:20px !important;
}
.txtcolor00{
    color:#2d3e52;
}
.subscription{
    max-width:500px;
    margin: 0 auto;
}
.txt-center {
    text-align: center;
}

.txt-bold {
    font-weight: bold;
    font-size: 14px;
}

.color-dark {
    color: #000000;
    font-size: 14px;
    padding-left: 1px;
}

.submit-bgcolor {
    background-color: #33475C !important;
}

.accrdion-bgcolor {
    background-color: #33475C !important;
}

.icon-ht {
    height: 130px;
}

#abtfooter {
    background: rgba(33, 33, 33, 0.9);
    color: #BEC4C8;
}

    #abtfooter p {
        font-size: 14px;
        line-height: 1.4 !important;
        margin-bottom: 0 !important;
        padding-bottom:10px;
    }

.footer-header {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding-bottom:10px;
}

.footer-hlgt {
    color: #fff !important;
}
#abtfooter b {
    color:#fff;
}
#mobile-search-tabs a{
    color:#01b7f2;
}
.flt-left{
    float:left !important;
}
.flt-right{
    float:right !important;
}
#contactus {
font-size:14px !important;
color:#838383;
}
.ContactUs li:first-child {
    font-size: 24px;
    color: #07253F !important;
    margin-top: 0;
    margin-bottom: 20px;
}
.ContactUs li{
    font-size:14px;
    color: #07253F !important;
    padding-top:2px;
}
.menu-bold{
font-size:16px !important;
font-weight:bolder !important;
}
#howitworks ul{
    list-style-type: square;
        font-size: 14px;
    line-height: 1.6666;
    padding-left:15px;
}
#howitworks ol{
   list-style:decimal;
       font-size: 14px;
    line-height: 1.6666;
}
.txt-font{
    font-size:14px;
    line-height: 1.6666;
}
.db-fields{
     padding: 0px 0px 0px 30px !important;
}
.PR0{
    padding-right:0 !important;
}
.PR50 {
    padding-right: 50px !important;
}
.PR35 {
    padding-right: 35px !important;
}
.PB50 {
    padding-bottom: 50px !important;
}