<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class=""> <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>AutoScoop</title>
    
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="AutoScoop">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/animate.min.css">
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="css/style.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="css/responsive.css">
    
    <script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="js/jstorage.js"></script>
    <script src="js/AdValidation.js"></script>
</head>
<body class="soap-login-page style2 body-blank" ng-app="mainApp1" ng-controller="myController1">
    <div id="page-wrapper" class="wrapper-blank">
        <section id="content">
            <div class="container">
                <div id="main">
                    <h1 class="logo block">
                        <a href="index.html" title="Travelo - home">
                            <img src="images/autoscooplogo.png" alt="AutoScoop" />
                        </a>
                    </h1>
                    <div class="welcome-text block">AutoScoop ADMIN</div>
                    <div class="col-sm-10 col-md-8 col-lg-6 no-float no-padding center-block block">
                        <form class="login-form" novalidate name="loginFrm" ng-submit="logValidation(loginFrm.$valid)">
                            <div class="form-group input-login">
                                <label>UserName</label>
                                <input type="text" class="input-text input-large full-width" name="username" placeholder="enter your email or username" ng-model="username" required>
                                <span style="color: red ;font-size:22px;" ng-show="loginFrm.username.$error.required &amp;&amp; (!loginFrm.username.$pristine || loginFrm.$submitted)"><b>Username is Required</b></span>
                            </div>
                            <div class="form-group input-password">
                                <label>Password</label>
                                <input type="password" class="input-text input-large full-width"  name="password"  placeholder="enter your password" ng-model="password" required>
                                <span style="color: red;font-size:22px;" ng-show="loginFrm.password.$error.required &amp;&amp; (!loginFrm.password.$pristine || loginFrm.$submitted)"><b>Password is Required</b></span>
                            </div>
                            <button type="submit" class="btn-large full-width yellow">
                                LOGIN TO YOUR ACCOUNT
                                <i class="soap-icon-check circle"></i>
                            </button>
                        </form>
                    </div>
                    <div class="copyright">
                        <p>&copy; 2017 AutoScoop</p>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="js/theme-scripts.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>

