<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Free coming soon template with jQuery countdown">
<meta name="author" content="http://bootstraptaste.com">
<meta name="google-signin-client_id"
	content="814821459166-uh2anc0kg2tot0uf5n7n29fv8foogi2n.apps.googleusercontent.com">
<title>Autoscoop - countdown</title>
<!-- angular JS script Start -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="../js/angular-resource.js"></script>
<script src="../js/ui-bootstrap-tpls-0.11.0.js"></script>
<script type="text/javascript">
email=null;
flex1=null;
flex2=null;
flex3=null;

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http) {
	 /* alert("Inside Controller"); */
	$scope.submitForm = function() {
	/* 	alert("invoke"); */
		/*alert($scope.email);
		alert(email); */
		var jsonInputToAPI = {
				  "comingSoonUserID": 18,
				  "comingSoonUserEmail": "s@GMAIL.COM",
				  "flex1": "flex1",
				  "flex2": "flex2",
				"flex3": 123,
				"flex4": 123,
				"flex5": 0.45,
				"flex6": 0.08
				};
		if($scope.email != null)
			{
			jsonInputToAPI.comingSoonUserEmail=$scope.email;
			flex3=5;	
			}
		else
			{
			jsonInputToAPI.comingSoonUserEmail=email;
			}
		jsonInputToAPI.flex1=flex1;
		jsonInputToAPI.flex2=flex2;
		jsonInputToAPI.flex3=flex3;
		/* var wsURL = 'http://localhost:8080/MyCarDomain/api/comingsoonuser'; */
		var wsURL = 'http://www.autoscoop.com.au/api/comingsoonuser';
		alert(jsonInputToAPI.comingSoonUserEmail);
		alert(jsonInputToAPI.flex1);
		alert(jsonInputToAPI.flex2);
		alert(jsonInputToAPI.flex3);
		
	    if(flex3==1 || flex3==2 || flex3==3 || flex3==4 || flex3==5)
	    	{
	    	
	    	$http({
				method : 'POST',
				url : wsURL,
				data: jsonInputToAPI
								
			}).success(function(data) {
				alert("successful");
				document.getElementById('status').innerHTML = ' <div class="alert alert-success"> <strong>Success!</strong> You will be surely Notified! </div>';
							});
	    	}
	    
	    	
	    
	}
	

});
</script>

<!-- end -->


<!-- Linked In login -->

<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 81vl95zfoimc37
</script>

<script type="text/javascript">

    function onLinkedInLoad() {
        IN.UI.Authorize().place();      
        IN.Event.on(IN, "auth", function () { onLogin(); });
        IN.Event.on(IN, "logout", function () { onLogout(); });
    }

    function onLogin() {
    	IN.API.Raw("/people/~:(id,firstName,lastName,emailAddress)?format=json").result(onSuccess).error(onError);
    }
    function onSuccess(data) {
        console.log(data);
        console.log(data.firstName);
        console.log(data.lastName);
        console.log(data.emailAddress);
        email=data.emailAddress;
        flex1=data.firstName+" "+data.lastName;// username
        flex2=data.id;// id
        flex3=4;//1-FB 2-G+ 3-Twitter 4-LinkedIn
        angular.element(document.getElementById('MyController')).scope().submitForm();
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
  
</script>
<!--  -->

<!-- Gmail Login -->

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api.js" async defer></script>

<script>

<!--- client_id for Production: 814821459166-2snv3tdshqgusiuhjnuoedrg0akt83ol.apps.googleusercontent.com     814821459166-uh2anc0kg2tot0uf5n7n29fv8foogi2n.apps.googleusercontent.com -->

function onSignInG()
{
	gapi.load('auth2', function() {
		  auth2 = gapi.auth2.init({
		    client_id: '814821459166-2snv3tdshqgusiuhjnuoedrg0akt83ol.apps.googleusercontent.com',
		    });

		  // Sign the user in, and then retrieve their ID.
		  auth2.signIn().then(function() {
			  var profile = auth2.currentUser.get().getBasicProfile();
			  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
			  console.log('Name: ' + profile.getName());
			  console.log('Image URL: ' + profile.getImageUrl());
			  console.log('Email: ' + profile.getEmail());
			  email=profile.getEmail();
			  flex1=profile.getName();// username
			  flex2=profile.getId();// id
			  flex3=2;//1-FB 2-G+ 3-Twitter 4-LinkedIn 5-initial
			  angular.element(document.getElementById('MyController')).scope().submitForm();
/* 		    onSignIn(googleUser);
 */		  });
		});
	
	
}
/* function onSignIn(googleUser) {
		alert("Came here");
	  var profile = googleUser.getBasicProfile();
	  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
	  console.log('Name: ' + profile.getName());
	  console.log('Image URL: ' + profile.getImageUrl());
	  console.log('Email: ' + profile.getEmail());
	} */

</script>

<!-- End Gmail -->


<!-- Bootstrap -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="assets/css/font-awesome.css" rel="stylesheet">

<!-- simple style -->
<link href="assets/css/style.css" rel="stylesheet">

<!-- =======================================================
        Theme Name: WeBuild
        Theme URL: https://bootstrapmade.com/free-bootstrap-coming-soon-template-countdwon/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body class="load-full-screen" ng-app="myApp" ng-controller="myCtrl" id="MyController">

	<!-- Facebook Login logic prod 249863545451459 test 238604546585672 -->

	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId : '249863545451459',
				xfbml : true,
				version : 'v2.8'
			});

			/* FB
					.getLoginStatus(function(response) {
						if (response.status === 'connected') {
							document.getElementById('status').innerHTML = 'We are Connected';
						} else if (response.status === 'not_authorized') {
							document.getElementById('status').innerHTML = 'We are not Connected';
						} else {
							document.getElementById('status').innerHTML = 'We are not fb Connected';
						}
					},{
						scope : 'email'
					}); */
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		function login() {
			FB
					.login(
							function(response) {
								if (response.status === 'connected') {
									/* document.getElementById('status').innerHTML = ' <div class="alert alert-success"> <strong>Success!</strong> You will be surely Notified! </div>'; */
									var url = '/me?fields=name,email';
									FB.api(url, function(response) {
										/* alert(response.name);
										alert(response.email); */
										email=response.email;
										flex1=response.name;// username
										flex2=response.id;// id
										flex3=1;//1-FB 2-G+ 3-Twitter 4-LinkedIn 5-initial
										console.log(JSON.stringify(response));
										angular.element(document.getElementById('MyController')).scope().submitForm();
									});
								} else if (response.status === 'not_authorized') {
									document.getElementById('status').innerHTML = 'We are not Connected';
								} else {
									document.getElementById('status').innerHTML = 'We are not fb Connected';
								}
							}, {
								scope : 'email'
							});

		}
	</script>

	<!-- End FB -->

	<div id="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Autoscoop</h1>
					<h2 class="subtitle">We're excited to bring you the web
						application, which will help you and you all will love to use and
						make it part of you! Team is working to launch it, in next</h2>
					<div id="countdown"></div>
					<form class="form-inline signup" role="form">
						<div class="form-group" d>
							<input type="email" class="form-control" id="exampleInputEmail1"
								placeholder="Enter your email address" ng-model="email">
						</div>
						<button type="submit" class="btn btn-theme"
							ng-click="submitForm()">Get notified!</button>
					</form>
					<div id="status"></div>
					<div class="social">
						<a href="#"><i class="fa fa-facebook" onclick="login()"
							aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter"
							aria-hidden="true"></i></a> <a href="#"><i
							class="fa fa-google-plus" onclick="onSignInG()"
							aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin"
							onclick="onLinkedInLoad()" aria-hidden="true"></i></a>
					</div>

				</div>

			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<p class="copyright">&copy; Autoscoop - All Rights Reserved</p>
					<div class="credits">
						<!-- 
                                All the links in the footer should remain intact.
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version form: https://bootstrapmade.com/buy/?theme=WeBuild
                            -->
						<a href="http://www.autoscoop.com.au/">Thinking Auto!...Logon
							to autoscoop.com.au</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.countdown.min.js"></script>
	<script type="text/javascript">
		$('#countdown').countdown('2017/03/30', function(event) {
			$(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
		});
	</script>

</body>
</html>