<html>
<head>
<title>Inventory Dependent Selects and Car Data Display | CarQuery</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/angular-resource.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
<script>
	var mainApp = angular.module("mainApp", [ 'ui.bootstrap', 'ngResource' ]);

	mainApp
			.controller(
					'myController',
					function($scope, $http) {

						$scope.predicate = 'name';
						$scope.reverse = true;
						$scope.currentPage = 1;
						$scope.order = function(predicate) {
							$scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse
									: false;
							$scope.predicate = predicate;
						};

						$scope.updatePagination = function() {
							$scope.totalItems = $scope.biil.details.length;
							$scope.numPerPage = 5;
							$scope.paginate = function(value) {
								var begin, end, index;
								begin = ($scope.currentPage - 1)
										* $scope.numPerPage;
								end = begin + $scope.numPerPage;
								index = $scope.biil.details.indexOf(value);
								return (begin <= index && index < end);
							};
						};

						$scope.submitForm = function() {
							alert("came");
							var wsURL = 'api/user';
/* 							if ($scope.selectedRadio == 'invoiceNum') {
								var invNumVal = $scope.invForm.invNum.$viewValue;
								wsURL = wsURL
										+ '/invoiceNumber.srv?invoiceNumber='
										+ invNumVal;
							} else if ($scope.selectedRadio == 'accNum') {
								console.log($scope.invForm.custNum);
								var custNum = $scope.invForm.custNum.$viewValue;
								wsURL = wsURL + '/accntNumber.srv?accntNumber='
										+ custNum;
							} else {
								wsURL = wsURL + '/recentdata.srv';
							} */

							var dataObj = {
									userABNNumber : $scope.userABNNumber
							};
							
							$http({
								method : 'POST',
								url : wsURL,
								data : dataObj
							}).success(function(data) {
								alert(data.userId);
							});
						};

						$scope.init = function() {
							$scope.biil = {
								details : []
							};
							$scope.submitForm();
						};

					});
</script>

</head>
<body ng-app="mainApp" ng-controller="myController" >
	<div id="wrapper">
		<div class="header">
			<h1 style="color: #0099ff" padding-left: 3% align="center">
				<strong style="font-size: 80%;"> USER REGISTRATION FORM</strong>
			</h1>
			
		</div>

		<div class="container-fluid"
			style="padding-top: 2%; padding-left: 3%;">
			<form name="invForm" ng-submit="invForm.$valid && submitForm()">
				
				
					<div id="table_top">
						<div>
							<label style="font-weight: bold">ABN Number:&nbsp&nbsp</label> <input name="userABNNumber" ng-model="userABNNumber"
								ng-pattern="/^[0-9]{8}$/" required /> <span style="color: red">*</span>
							<span style="color: red" ng-show="invForm.userABNNumber.$error.required"></span>
							<span style="color: red"
								ng-show="invForm.userABNNumber.$touched && invForm.userABNNumber.$invalid">
								ABN Number is invalid.</span>
						</div>

						<div id="ButtonShow">
							<button ng-click="submit()" class="button">Sign up</button>
						</div>
					</div>
					
			</form>
		</div>



		<!-- <table class="table table-striped" border="2">
			<thead>
				<tr>
					<th>Account/Customer Number</th>
					<th>Invoice Number</th>
					<th>Invoice Date</th>
					<th>Invoice/credit</th>
					<th>No.of Items</th>
					<th>Total</th>
				</tr>
			</thead>
			<tr
				ng-repeat="var in biil.details | orderBy:predicate:reverse | filter:paginate| filter:search"
				ng-class-odd="odd">
				<td>{{var.accountNo}}</td>
				<td><a href="">{{ var.invoiceNo }}</a></td>
				<td>{{ var.invoiceDt }}</td>
				<td>{{ var.invoiceCredit }}</td>
				<td>{{ var.itemCount }}</td>
				<td>{{ var.total | currency }}</td>
			</tr>

		</table>
		<div id="pagination">
			<pagination total-items="totalItems" ng-model="currentPage"
				max-size="4" boundary-links="true" items-per-page="numPerPage"
				class="pagination-sm"> </pagination>
		</div>


	<h6 style="font-size: -1px">
	</h6> -->

	</div>
</body>

</html>
